@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #f4f5f7;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    font-size: 2rem;
    font-weight: 800;
    color: #007bff;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.sidebar {
    background-color: #e9efff;
    height: auto;
    padding: 20px;
}
.sidebar .nav-link {
    color: #333;
}
.nav-item:hover {
    background-color: #d1e3ff;
    border-radius: 5px;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search-bar input {
    width: 300px;
}
.overview {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    margin: 2rem 0;
}
.card-column {
    background-color: #f4f9ff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: auto; /* Establece la altura para mantener el largo de la página */
}
.add-card {
    border: 2px dashed #007bff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    color: #007bff;
    cursor: pointer;
    font-size: 24px;
}

.form-group section{
    background-color: rgb(235, 240, 243);
    width: 100%;
    font-size: 1rem;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #44515f
}


.form-group section p{
    margin: 0;
}