@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #f0f4ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.main-title {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header a{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header a button{
    width: 100%;
    margin-bottom: 1rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4e8dff;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

button:focus {
    outline: none;
}

.header .create-button {
    background-color: #4e8dff;
}

.header .view-button {
    background-color: #b2bfff;
}

.project-list {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header a{
    text-decoration: none;
    color: #333;

}

.project-header h2 {
    margin: 0;
    font-size: 24px;
}

.project-header .status-pendiente {
    background-color: #ffd6d6;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.project-header .status-en_proceso {
    background-color: #f7c69f;
    color: rgb(255, 136, 0);
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.project-header .status-completado {
    background-color: #94ff94;
    color: rgb(69, 250, 69);
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.project-description {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.project-footer .date {
    font-size: .9rem;
    color: #777;
}

.create-button i,
.project-header h2 i,
.date i,
.project-footer button i {
    margin-right: 0.8rem;
}

.create-button i,
.project-header h2 i,
.date i,
.project-footer button i {
    font-size: 20px;
}


