<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Experto - GPSRCM</title>

    <!-- CSS -->
     <link rel="stylesheet" href="../static/css/projects.css">

</head>
<body>
    <main class="container">
        <!-- Agregar el título de "Proyectos Disponibles" -->
        <h1 class="main-title">Proyectos Disponibles</h1>

        <div class="header">
            <a href="{{ url_for('views.new_project') }}"><button class="create-button">Create</button></a>
        </div>

        <div class="project-list">
            <div class="project-header">
                <h2>Adoddle</h2>
                <div class="status">Offline</div>
            </div>
            <div class="project-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="project-footer">
                <div class="date">05 April 2023</div>
                <button>Modificar</button>
            </div>
        </div>

        <div class="project-list">
            <div class="project-header">
                <h2>Adoddle</h2>
                <div class="status">Offline</div>
            </div>
            <div class="project-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="project-footer">
                <div class="date">05 April 2023</div>
                <button>Modificar</button>
            </div>
        </div>

        <div class="project-list">
            <div class="project-header">
                <h2>Adoddle</h2>
                <div class="status">Offline</div>
            </div>
            <div class="project-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="project-footer">
                <div class="date">05 April 2023</div>
                <button>Modificar</button>
            </div>
        </div>
    </main>
</body>
</html>
