<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Experto - GPSRCM</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/projects.css">

</head>

<body>
    <main class="container">
        <!-- Titulo Principal -->
        <h1 class="main-title">Proyectos Disponibles</h1>

        <div class="header">
            <a href="{{ url_for('views.new_project') }}"><button class="create-button">Crear</button></a>
        </div>

        <!-- Listado de Proyectos -->
        {% for proyecto in proyectos %}
        <div class="project-list">
            <div class="project-header">
                <h2>{{ proyecto.nombre }}</h2>
                <div class="status">{{ proyecto.estado }}</div>
            </div>
            <div class="project-description">
                {{ proyecto.descripcion }}
            </div>
            <div class="project-footer">
                <div class="date">{{ proyecto.fecha_inicio.strftime('%d %B %Y') if proyecto.fecha_inicio else 'Sin fecha
                    de inicio' }}</div>
                <button>Modificar</button>
            </div>
        </div>
        {% endfor %}
    </main>
</body>

</html>